//
//  Base.xcconfig
//  JustDoIt
//
//  Created by David Messing on 3/18/18.
//  Copyright © 2018 davemess. All rights reserved.
//

// User Defined
APP_BUNDLE_VERSION = 1
APP_NAME = JustDoIt
APP_VERSION = 0.0.1
PRODUCT_BUNDLE_IDENTIFIER = com.davemess.JustDoIt
COPYRIGHT_STATEMENT = "Copyright @2018 David Messing, All Rights Reserved"
DEPLOYMENT = production
